* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* header {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;

  box-shadow: 0px 1px 20px rgb(45, 44, 44);

  background-color: black;
} */
body {
  background-image: url("../images/legender.png");
  background-position: initial;
}
nav {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;
  box-shadow: 0px 1px 20px rgb(45, 44, 44);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 50;
}
/* #google_translate_element {
  height: 20px;
  width: 20px;
} */
.snip1143 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1143 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1143 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.snip1143 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.snip1143 a:before,
.snip1143 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1143 a:before {
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #cfcccc;
}
.snip1143 a:after {
  padding: 0.3em 0;
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.snip1143 li:hover a,
.snip1143 .current a {
  transform: translateY(-100%);
}
.navbar {
  /* margin-right: 50px; */
  padding-right: 40px;
}
.user_profile1 {
  height: 50px;
  width: 50px;
  margin-right: 30px;
}
.logo img {
  width: 83px;
  height: 083px;
  border-radius: 50px;
  margin-left: 10px;
}
.list_1 {
  width: 34rem;
  margin-left: 1rem;
  padding: 2rem;
  margin-top: 12rem;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(151, 151, 151, 0.5);
}
label {
  font-size: 1.3rem;
  font-weight: bold;
}
#ca_r {
  width: 20rem;
  height: 2rem;
  margin-left: 2.2rem;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0.8rem;
}
#ca_r1 {
  width: 20rem;
  height: 2rem;
  margin-left: 1.5rem;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0.8rem;
}
#ca_r2 {
  width: 20rem;
  height: 2rem;
  margin-left: 2.2rem;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0.8rem;
}
#ca_r3 {
  width: 20rem;
  height: 2rem;
  margin-left: 1.5rem;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0.8rem;
}
#hello4 {
  margin-top: 3rem;
  margin-left: 2.5rem;
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border-radius: 1rem;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  cursor: pointer;
  transition: 0.5s;
}
#hello4:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#hello5 {
  margin-top: 3rem;
  margin-left: 5rem;
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border-radius: 1rem;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  cursor: pointer;
  transition: 0.5s;
}
#hello5:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.l_1 {
  margin-bottom: 1rem;
}
.l_2 {
  margin-bottom: 1rem;
}
.l_3 {
  margin-bottom: 1rem;
}

.l_1,
.l_2,
.l_3 {
  height: 3rem;
}
